.buttons-section {
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: flex-start;
    }
    flex-wrap: wrap;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 1rem 1rem 1rem 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 10rem;
    &--ingredients {
        background-color: $ingredientsDropdown;
    }
    &--apareils {
        background-color: $apareilsDropdown; 
    }
    &--ustensiles {
        background-color: $ustensilesDropdown; 
    }
  }

.arrow-down {
    margin-left: 1rem;
}
    
.dropdown {
    margin: 2rem 3rem 0 0;
    position: relative;
    display: inline-block;
}
  
/* Dropdown list */
.dropdown-content {
    display: block;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -5px ;
    border-radius: 0 5px 5px 5px;
    &--ingredients {
        background-color: $ingredientsDropdown;
    }
    &--apareils {
        background-color: $apareilsDropdown; 
    }
    &--ustensiles {
        background-color: $ustensilesDropdown; 
    }
    & > a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}
    
.show {display:block;}
