.buttons-section {
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: flex-start;
    }
    flex-wrap: wrap;
}

/* Dropdown Button */
.dropbtn {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: $widthContentMobile;
    @include desktop {
        transition : width $transitionTime ease-in-out;
        width: 12rem;
    }
    &--ingredients {
        background-color: $ingredientsDropdown;
    }
    &--appareils {
        background-color: $appareilsDropdown;
    }
    &--ustensiles {
        background-color: $ustensilesDropdown;
    }
    &__search {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: white;
        padding: 0.5rem 0;
        margin: 1rem 0 1rem 1rem;
        transition : width $transitionTime ease-in-out;
        width: 7rem;
    }
    ::placeholder {
        color: white;
    } 
}

// Active when icon is pressed
.show .dropbtn {
    @include desktop {
    width: $widthContentDesktop;
    }
}

// Active when icon is pressed
.show .dropbtn__search {
    width: 55vw;
    @include desktop {
        width: 20rem;
    } 
}

.arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4.4rem;
    transform: rotate(0deg);
    transition: $transitionTime;
}

.show .arrow-down {
    transform: rotate(180deg);
    transition: $transitionTime*2;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    @include desktop {
        margin-right: 2rem;
    }
    &__content {
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 1rem 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: -5px;
        border-radius: 0 5px 5px 5px;
        width: $widthContentMobile;
        @include desktop {
            width: $widthContentDesktop;
        }
        &--ingredients {
            background-color: $ingredientsDropdown;
        }
        &--appareils {
            background-color: $appareilsDropdown;
        }
        &--ustensiles {
            background-color: $ustensilesDropdown;
        }
        &__links {
            display: block;
            color: white;
            padding: 5px 16px;
            text-decoration: none;
            font-size: 1.1rem;
            width: 7rem;
            @include desktop {
                width: 9rem;
            }
        }
        .show & {
            display: flex;
        }
    }
}
