$searchBarBackground: rgb(233, 233, 233);

// Background-color of each filter buttons
$ingredientsDropdown: rgb(71, 105, 255);
$appareilsDropdown: mediumaquamarine;
$ustensilesDropdown: rgb(216, 71, 34);

// Width of the filter buttons and the content
$widthContentDesktop: 45vw;
$widthContentMobile: 80vw;
$transitionTime : 0.5s;
