@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$lato: 'Lato', sans-serif;

$searchBarBackground: rgb(233, 233, 233);

// Background-color of each filter buttons
$ingredientsDropdown: #3282F7;
$appareilsDropdown: #68D9A4;
$ustensilesDropdown: #ED6454;

// Width of the filter buttons and the content
$widthContentDesktop: 45vw;
$widthContentMobile: 80vw;
$transitionTime : 0.5s;
